.table-div {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    vertical-align: middle;
    padding-bottom: 50px;
}

table {
    width: 100%;
}

.color1 {
    background-color: red;
}

.color1 {
    background-color: rgb(163, 0, 168);
}

.centerHeader {
    text-align: center;
}
