<div>
    <div class="about-user-title">
        About user
        <hr />
    </div>
    <div>
        <div class="about-row">
            <div class="about-label">Username:</div>
            <div class="about-content">{{ user.username }}</div>
        </div>
        <div class="about-row">
            <div class="about-label">Full name:</div>
            <div class="about-content">{{ user.name }} {{ user.surname }}</div>
        </div>
        <div class="about-row">
            <div class="about-label">Email:</div>
            <div class="about-content">{{ user.email }}</div>
        </div>
        <div class="about-row">
            <div class="about-label">Phone number:</div>
            <div class="about-content">{{ user.phoneNumber }}</div>
        </div>
    </div>
</div>
