.cottage-horizontal-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

.cottage-horizontal-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.cottage-small-image {
    object-fit: cover;
    width: 100px;
    border-radius: 5px;
}

.image-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}
